@import '../../assets/style-variable/variables.scss';

html, body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F7FA;
}

.App {
  text-align: center;
  width: 100%;
  background-color: #F3F7FA;
  height: 100vh;
  &__main{
    display: flex;
  }
  &__button{
    width: 480px;
    height: 50px;
    padding: 0;
    margin: 0 0 50px 0;
    font-family: $font-family;
    background: $blue;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none
  }
}

.error__message {
  border: 1px solid #ff6b6b;
  padding: 10px;
  background-color: papayawhip;
  color: #ff6b6b;
  border-radius: 4px;
  font-size: 16px;
  width: 30vh;
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: $font-family;
}
