@import '../../assets/style-variable/variables.scss';

.filter{
  width: 230px;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 4px rgba(34, 60, 80, 0.2);
  margin-left: 10%;

  &__title{
    padding-top: 20px;
    padding-left: 20px;
    color: #4A4A4A;
    font-size: 13px;
    align-self: flex-start;
    font-family: $font-family;
    font-style: normal;
  }

  &__list{
    padding-left: 20px;
    list-style: none;
   display: flex;
   flex-direction: column;
  }

  &__item{
    text-align: left;
    padding-bottom: 10px;
  }
}
